body{
    font-family: 'Lora', serif;  
}

h1{
    font-size: 50px;
    text-align: center;
    color: white;
}
section{
    height : 500px;
    padding-bottom: 150px;
}
.donation{
    text-align: center;
    padding-top: 40px;
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;
}

.donate{
    font-weight: 700px ;
    padding-top: 100px;
    font-size: 30px;
    text-align: center;
}
#line{
    font-size: 20px;
    text-align: center;
    color: white;
}
.anchor-button{
    
    text-decoration: none;
    background: linear-gradient(red, orange);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
#line1{
font-size: 20px;
}
.amount{
    width: 50%;
    font-size: 30px;
    margin-left: 300px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-part {
    font-size: 30px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
  }
  .para {
    text-align: center;
    font-size: 18px;
    color: #707070;
  }
  .container {
    display: flex;
    flex-wrap: nowrap;
  }
  .taka {
    background-color: #ffeeee;
    color: #707070;
    padding: 10px;
  }
  .taka2 {
    background-color: #ffeeee;
    padding: 10px;
    color: #ff5959;
    border: 2px solid #ff5959;
  }
  .container  div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .other-amount{
    text-align: center;
    font-size: 18px;
    color: #707070;
    
  }
  .anchor-button1{
    text-decoration: none;
    background: linear-gradient(red, orange);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
 
    
   
 
  }
  input{
    outline: none;
  }
  .an3{
    outline: none;
    overflow: visible;
    border: none;
    
  }



  .an2{
    margin-top: 25px;
  }
   
  
  .plan{
    padding-top:70px;
    text-align: center;
    color: black;
  }
  .font{
    font-size: 20px;
    text-align: center;
    color: black;
  }
  .food{
    
    background-color: lightcyan;
   text-align: left;
    font-size: 20px;
    padding : 30px 20px;
    margin-left: 100px;
    width: 20%;
  }
  .text{
    font-size: 15px;
  }
.main{
    display: flex;

}
.shelter{
    background-color: antiquewhite;
   text-align: left;
    font-size: 20px;
    padding: 30px 20px;
    width: 20%;
    margin-left: 100px;
}
.education{
    background-color: lemonchiffon;
   text-align: left;
    font-size: 20px;
    padding: 30px 20px;
    width: 20%;
    margin-left: 100px;
}
.depend{
    color: black;
}
.depend1{
    font-size: 20px;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%
      
}
.half-width img{
    width: 100%;
}
.anchor-button2{
    text-decoration: none;
    background: linear-gradient(red, orange);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.half-width1{
    width:40%;
    float: right;
    margin-left: 5%;
    padding-left: 2%
}
.half-width1 img{
    width: 100%;
}
.half-width2{
    width:40%;
    float: Left;
    margin-left: 5%;
    padding-left: 2%
}
.half-width2 img{
    width: 100%;
}
.depend2{
    font-size: 30PX;
    
}
.update{
    color: black;
}
.update1{
    text-align: center;
    font-size: 20px;
}
.input-button{
    display: flex;
   background-color: antiquewhite;
   height: 250px;
   width: 700px;
   margin-left: 320px;
   margin-top: 100px;
   
    
   
}
.email{
    height: 30px;
    width: 210px;
    margin-left:200px;
    margin-top: 100px; 
   
}
.anchor3{
    text-decoration: none;
    background: linear-gradient(red, orange);
    padding:8.38px 30px ;
    border: 5px;
    color: white;
    font-weight: 700px;
}
.anchor4{
    padding-top: 8.5px;
    margin-top: 100px; 
}
footer{
    text-align: center;
    background-color: black;
   color: #ff5959;
   height: 150px;
  
}
.last-part{
    font-size: 25px;
    padding-top: 30px;
}